@import url("https://fonts.googleapis.com/css2?family=Alice&family=Cardo:ital,wght@0,400;0,700;1,400&family=Cinzel+Decorative:wght@400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cardo", serif;
  background-color: #000000;
  color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.game-space {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;

}


.inventory {
  /* /* display: none;
  width: 15%;
  height: 37%;
  padding: 10px;
  background-color: #000000;
  color: #e0e0e0;
  margin-right: 20px; */
  
  /* border-radius: 5px; */
  border-right: 1px solid #444; 
  flex-direction: column; 
  display: none;
  position: fixed;
  top: 0;
  left: 0;


  padding: 1rem;
  width: 200px; /* Adjust as needed */
  height: 100vh; /* Full height for a sidebar-like effect */

  overflow-y: auto; /* Allow scrolling if inventory grows */
}

.inventory.visible {
  display: flex;
}

.inventory ul {
  list-style-type: none;
  padding: 0;
}

.inventory__heading {
  color:#7e0606;
}

.game-container {

  max-width: 700px; 
  width: 100%;
  min-height: 300px;
  padding: 20px;
  background-color: #000000;
  border-radius: 5px;
  border: 1px solid #444;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.game-container__text {
  font-size: 1.1em;
  margin-bottom: 20px;
  line-height: 1.5;
  white-space: pre-wrap;
}

.game-container__buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.game-container__choice-button {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
  color: #e0e0e0;
  padding: 10px;
  border: 1px solid #444;
  border-radius: 5px;
  width: 130px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
  gap: 0.5rem;
  font-family: "Alice", serif;
  font-size: 0.9rem;
  justify-content: center;
}

.game-container__choice-button:hover {
  background-color: #6c0606;
}

.button-image {
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
  filter: invert(1);
}
